<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>
<body>
        <div class="wrapper">
         <div class="title">
       Login Here
      </div>

      <div class="form">
        <div class="input_field">
          <input type="text" placeholder="Email" class="input" id="email">
          <i class="far fa-envelope"></i>
        </div>
        <div class="input_field">
          <input type="password" placeholder="Password" class="input" id="Password">
          <i class="fas fa-lock"></i>
        </div>
        <div class="btn" id="btn">
          <a href="/home">Login in</a>
        </div>
      <div class="btn2">
          <a href="/views/register.html">Register</a>
      </div>
      </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
  const submitButton = document.getElementById("btn");
 
 submitButton.addEventListener("click", async (e) => {
 e.preventDefault();
 const emailId = document.getElementById("email").value;
 const Password = document.getElementById("Password").value;
 
 if (emailId.length > 0 && Password.length > 0) {
 var object = {
   emailId: emailId, //unique
   Password:Password
 };          
   }
  const s=await axios.post('http://localhost:5000/login',object)
 });
</script>
</html> 