<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>
<body>
        <div class="wrapper">
         <div class="title">
        Register Here
      </div>

      <div class="form">
        <form  method="POST">
        <div class="input_field">
          <input type="text" placeholder="Name" class="input" id="name">
          <i class="fas fa-user"></i>
        </div>
        <div class="input_field">
          <input type="text" placeholder="Email" class="input" id="email">
          <i class="far fa-envelope"></i>
        </div>
        <div class="input_field">
          <input type="password" placeholder="Password" class="input" id="password">
          <i class="fas fa-lock"></i>
        </div>
        <div class="btn">
         <button type="submit" id="submit">Register</button>
        </div>
        <div class="btn2">
          <a href="/views/views/login.html">Singin</a>
        </form>
      
      </div>
      </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
 const submitButton = document.getElementById("submit");
 
submitButton.addEventListener("click", async (e) => {
e.preventDefault();
const name = document.getElementById("name").value;
const emailId = document.getElementById("email").value;
const Password = document.getElementById("password").value;

if (emailId.length > 0 && name.length > 0 && Password.length > 0) {
var object = {
  name: name,
  emailId: emailId, //unique
  Password:Password
};          
  }
 const s=await axios.post('http://localhost:5000/register',object)
});
</script>
</html> 